{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" type="text/css"> </head>
  <div class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-info">
            <thead>
              <tr>
                <th id="medicine_id">
                  <font color="black">Medicine Name</font>
                </th>
                <th id="price">
                  <font color="black">Price</font>
                </th>
                <th id="stock">
                  <font color="black">Stock</font>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <font color="black">Aspirine</font>
                </td>
                <td>
                  <font color="black">12.00</font>
                </td>
                <td>
                  <font color="black">30</font>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div align="center">
            <a class="btn btn-primary" href="#" onclick="show()">Add Medicine </a>
          </div>
        </div>
        <div class="container bg-light">
          <div class="row">
            <div class="col-md-12">
              <form class="">
                <div id="myDIV">
                  <div class="form-group">
                    <label>Medicine Name</label>
                    <input type="medicine_id" class="form-control" placeholder="Medicine name"> </div>
                  <div class="form-group">
                    <label>Price</label>
                    <input type="price" class="form-control" placeholder="Price"> </div>
                  <div class="form-group">
                    <label>Stock</label>
                    <input type="stock" class="form-control" placeholder="Stock"> </div>
                  <div align="center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
	   <script type="text/javascript">
        function show() {
        	var x = document.getElementById("myDIV");
          if (x.style.display === "none") {
          	x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      </script>
{% endblock %}