{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<body class="bg-secondary">
  <div class="py-5 bg-secondary text-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button class="btn btn-primary border" onclick="showHistory()">CHECK-UP HISTORY</button>
            <button class="btn btn-primary border" onclick="showBook()">BOOK NEW CHECK-UP</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-light" id="history" style="display: table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Policlinic</th>
                <th>Time Shift</th>
                <th>Doctor Name</th>
                <th>Symptom</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
              </tr>
            </thead>
            <tbody>
              {% for history in histories %}
                <tr>
                  <td>{{ history[0] }}</td>
                  <td>{{ history[1] }}</td>
                  <td>{{ history[2] }}</td>
                  <td>{{ history[3] }}</td>
                  <td>{{ history[4] }}</td>
                  <td>{{ history[5] }}</td>
                  <td>{{ history[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <form method="post">
          <table class="table table-light" id="book" style="display: none">
            <tbody>
              <tr>
                <td style="vertical-align:middle">Policlinic</td>
                <td>
                  <div class="input-group">
                    <select name="selectType" class="form-control" id="selectType" required="required" placeholder="*dropdown menu*" onchange="showID()">
                      <option selected="selected" disabled="disabled" value="Type">Policlinic</option>
                      <option value="1">General</option>
                      <option value="2">Dentist</option>
                      <option value="3">Counseling</option>
                      <option value="4">Radiologist</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align:middle">Date</td>
                <td>
                  <input name="date" type="date" class="form-control" placeholder="Date of Birth" required="required"> </td>
              </tr>
              <tr>
                <td colspan="2" style="padding: 0px">
                  <input class="btn btn-primary" type="submit" value="Select Schedule" style="border-radius: 0em; width:100%"> </td>
              </tr>
            </tbody>
          </table>
        </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function showHistory() {
      var bookTable = document.getElementById('book');
      var historyTable = document.getElementById('history');

      historyTable.style.display = "table";
      bookTable.style.display = "none";
    }
    function showBook() {
      var bookTable = document.getElementById('book');
      var historyTable = document.getElementById('history');

      historyTable.style.display = "none";
      bookTable.style.display = "table";
    }
  </script>
</body>
{% endblock %}