{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<body class="bg-secondary">
<div class="py-5 bg-secondary text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-light">
            <thead>
              <tr>
                <th>Time Interval
                  <br>
                </th>
                <th>Doctor Name</th>
                <th>Specialization</th>
                <th>Room</th>
                <th>Book</th>
              </tr>
            </thead>
            <tbody>
              {% for schedule in schedules %}
                <form method="POST">
                <tr>
                  <td><input type="hidden" name="time" value="{{ schedule[0] }}">{{ schedule[0] }}</td>
                  <td><input type="hidden" name="name">{{ schedule[1] }}</td>
                  <td><input type="hidden" name="specialization">{{ schedule[2] }}</td>
                  <td><input type="hidden" name="room">{{ schedule[3] }}</td>
                  <td style="display: none"><input type="hidden" name="doc" value="{{ schedule[4] }}"></td>
                  <td>
                    {% if schedule[6] == '0' %}
                      <input type="submit" class="btn btn-primary btn-block" value="Book">
                    {% else %}
                      <button class="btn btn-light btn-block">Booked</button>
                    {% endif %}
                    <input type="hidden" value="{{ schedule[6] }}">
                  </td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}