{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" type="text/css"> </head>
  <div class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-light">
            <thead>
              <tr>
                <th id="date">Date</th>
                <th id="policlinic">Policlinic</th>
                <th id="treatment">Treatment</th>
                <th id="totl_payment">Total_payment</th>
                <th id="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>1</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}