{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<body>
    <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">Klinik Makara UI</h1>
          <p class="lead mb-5 text-center">Selamat datang di Klinik Makara UI. Daftarkan diri anda untuk mendapatkan pelayanan di klinik kami.
            <br>Klinik Makara UI melayani Mahasiswa UI dan juga masyarakat umum.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center">
          <p class="mb-5 text-dark">
            <strong>Klinik Makara UI.</strong>
            <br>Universitas Indonesia&nbsp;
            <br>Kota Depok, Jawa Barat 16425
            <br>
            <abbr title="Phone">P:</abbr> (021) 78881017</p>
          <div class="my-3 row">
            <div class="col-4">
              <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-3x fa-facebook"></i>
              </a>
            </div>
            <div class="col-4">
              <a href="https://twitter.com" target="_blank">
                <i class="fa fa-3x fa-twitter"></i>
              </a>
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com" target="_blank">
                <i class="fa fa-3x fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?center=-6.3612064,106.8225737&zoom=16&size=640x300&markers=color:red%7C%7C-6.3612064,106.8225737&sensor=false&scale=2"> </div>
      </div>
    </div>
  </div>
<body>
{% endblock %}