{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css">
<div class="py-5 text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="pb-3 text-secondary">Your Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="text-right col-md-6">
      <div class="row my-5">
        <div class="col-2 order-lg-2 col-2 text-center">
          <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/user.png') }}"> </div>
        <div class="col-10 text-lg-right text-left order-lg-1">
          <h4 class="text-primary">Username</h4>
            <p>{{ g.user['username'] }}</p>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-2 order-lg-2 col-2 text-center">
          <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/smartphone.png') }}"> </div>
        <div class="col-10 text-lg-right text-left order-lg-1">
          <h4 class="text-primary">Phone Number</h4>
          <p>{{ g.phone }}</p>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-2 order-lg-2 col-2 text-center">
          <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/star.png') }}">
        </div>
        <div class="col-10 text-lg-right text-left order-lg-1">
          <h4 class="text-primary">Type</h4>
            <p>{{ g.type }}</p>
        </div>
      </div>
    </div>
    {% if g.type == "public_patient" or g.type == "civitas_patient" %}
      <div class="text-left col-md-6">
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/calendar.png') }}"> </div>
          <div class="col-10">
            <h4 class="text-primary">Date of Birth</h4>
            <p>{{ g.dob }}</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/menu.png') }}"> </div>
            <div class="col-10 py-0">
                <h4 class="text-primary">Allergies</h4>
                <p>{{ g.allergies }}</p>
            </div>
        </div>
        {% if g.type == "civitas_patient" %}
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/id-card.png') }}"> </div>
            <div class="col-10">
                <h4 class="text-primary">SSO ID</h4>
                <p>{{ g.id }}</p>
            </div>
        </div>
        {% elif g.type == "public_patient" %}
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/id-card.png') }}"> </div>
            <div class="col-10">
                <h4 class="text-primary">ID Card Number</h4>
                <p>{{ g.id }}</p>
            </div>
        </div>
        {% endif %}
      </div>
    {% elif g.type == "doctor" or g.type == "pharmacist" %}
      <div class="text-left col-md-6">
      {% if g.type == "doctor" %}
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/name.png') }}"> </div>
          <div class="col-10">
            <h4 class="text-primary">Name</h4>
            <p>{{ g.name }}</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/special.png') }}"> </div>
            <div class="col-10">
                <h4 class="text-primary">Specialization</h4>
                <p>{{ g.special }}</p>
            </div>
        </div>
        {% endif %}
        {% if g.type == "doctor" or g.type == "pharmacist" %}
        <div class="row my-5">
          <div class="col-2 text-center">
            <img class="img-fluid d-block" src="{{ url_for('static', filename='icon/license.png') }}"> </div>
            <div class="col-10">
                <h4 class="text-primary">License Number</h4>
                <p>{{ g.license }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

</div>
</div>
</div>
</body>
{% endblock %}