{% extends 'base.html' %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Date: {{ date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Shift: {{ shift }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Room: {{ room }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Patient ID: {{ patient_id }}</p>
        </div>
      </div>

      <form method="POST">
        <div class="row">
        <div class="col-md-3">
          <p class="lead">Symptoms:</p>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Symptoms..." name="symptoms" required> </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p class="lead">Diagnosys:</p>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Diagnosys..." name="diagnosys" required> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p class="lead">Treatment:</p>
          </div>
          <container class="col-md-2" id="select">
            <div id="treatment-list">
              <select id="treatment-select" name="select-treatment0">
                {% for treat in treatments %}
                  <option value="{{ treat['treatment_id'] }}">{{ treat['treatment_name'] }}</option>
                {% endfor %}
              </select>
            </div>          
          </container>
          <div class="col-md-2">
            <a class="btn btn-primary" id="button-add-treatment" href="#">Add Treatment</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" value="SAVE" class="btn btn-primary w-100" href="{{ url_for('doctor.get_schedule') }}">
          </div>
        </div>
      </form>
      

    </div>
  </div>
{% endblock %}
{% block footer %}
  <script type="text/javascript">
    counter = 1;
    // var content = <select name="select-treatment0">
    //             {% for treat in treatments %}
    //               <option value="{{ treat['treatment_id'] }}">{{ treat['treatment_name'] }}</option>
    //             {% endfor %}
    //           </select>

    $(document).on('click', '#button-add-treatment', function(){
      var name = "select-treatment"+counter;
      var y = document.getElementById('treatment-list').innerHTML.toString();
      var result = '<div id="treatment-list">' + y.replace(0, counter) + '</div>';
      console.log(result);
      document.getElementById('select').innerHTML += result;
      counter += 1;
    })
  </script>
{% endblock %}