{% extends 'base.html' %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead">Date: {{ date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="lead">Shift: {{ shift }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="lead">Room: {{ room }}</p>
        </div>
      </div>
      {% for row in lists %}
        <div class="row">
          <div class="col-md-6">
            <p class="lead">
              <b>{{ row['patient_id'] }}</b>
            </p>
          </div>
          <div class="col-md-6">
            <a class="btn btn-primary w-75" href="{{ url_for('doctor.add_medical_record', date=date, shift=shift, room=room,
            checkup_id=checkup_id, patient_id=row['patient_id']) }}">Write Medical Record</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}