{% extends 'base.html' %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>DATE</th>
                <th>SHIFT</th>
                <th>ROOM</th>
                <th>PATIENT LIST</th>
              </tr>
            </thead>
            <tbody>
              {% for row in schedules %}
                <tr>
                  <td>{{ row['date'] }}</td>
                  <td>{{ row['shift_type'] }}</td>
                  <td>{{ row['room_name'] }}</td>
                  <td>
                    <a class="btn btn-primary" href="{{ url_for('doctor.patient_list', checkup_schedule_id=row['checkup_schedule_id'], date=row['date'], shift=row['shift_type'], room=row['room_name']) }}">Patient List</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}