{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shift.css') }}" type="text/css"> </head>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th class="bg-gradient">#</th>
                  <th class="bg-gradient">Day</th>
                  <th class="bg-gradient">Shift Type</th>
                  <th class="bg-gradient">Time</th>
                  <th class="bg-gradient th-apply">Apply</th>
                </tr>
              </thead>
              <tbody>
                {% for shift in shifts %}
                <form method="POST">
                <tr>
                  <td><input type="hidden" name="shift_id" value="{{ shift[0] }}">{{ shift[0] }}</td>
                  <td><input type="hidden" name="day">{{ shift[1] }}</td>
                  <td><input type="hidden" name="shift_type">{{ shift[2] }}</td>
                  <td><input type="hidden" name="interval">{{ shift[3] }}</td>
                  <td>
                    {% if shift[4] == '0' %}
                      <input type="submit" class="btn btn-primary btn-block" value="Apply">
                    {% else %}
                      <input type="submit" class="btn btn-light btn-block" value="Applied">
                    {% endif %}
                  </td>
                </tr>
                </form>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}