<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <div class="py-5">
    <div class="container">
      <div class="row" >
        <div class="col-md-3"> </div>
        <div class="col-md-6"> {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message }}</strong>
          </div> {% endfor %}
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <h1 class="mb-4">Doctor registration</h1>
              <form method="post">
                <div class="form-group">
                  <label>Username</label>
                  <input name="username" type="text" class="form-control" placeholder="Username" required="required"> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input name="password" type="password" class="form-control" placeholder="Password" required="required"> </div>
                <div class="form-group">
                  <label>Email</label>
                  <input name="email" type="email" class="form-control" placeholder="Email" required="required"> </div>
                <div class="form-group">
                  <label>Name</label>
                  <input name="doctorName" type="text" class="form-control" placeholder="Complete name" required="required"> </div>
                <div class="form-group">
                  <label for="phone">Phone number</label>
                  <div class="input-group">
                    <input name="phone" type="tel" class="form-control" placeholder="Phone number" required="required"> </div>
                </div>
                <div class="form-group">
                  <label for="licenseNo">License number</label>
                  <div class="input-group">
                    <input name="licenseNo" type="text" class="form-control" placeholder="License number" required="required"> </div>
                </div>
                <div class="form-group">
                  <label>Specialization</label>
                  <div class="input-group">
                    <input name="specialization" type="text" class="form-control" placeholder="Specialization" required="required"> </div>
                </div>
                <div class="form-group">
                  <label for="type">Policlinic Type</label>
                  <div class="input-group">
                    <select name="type" class="form-control" id="type" required="required" placeholder="*dropdown menu*">
                      <option selected="selected" disabled="disabled">Policlinic Type</option>
                      <option value="1">General</option>
                      <option value="2">Dentist</option>
                      <option value="3">Counseling</option>
                      <option value="4">Radiologist</option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-secondary">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    function showID() {
      var select = document.getElementById('selectType');
      var civitas = document.getElementById('sso');
      var public = document.getElementById('card');
      var chosen = select.options[select.selectedIndex].value;

      if(chosen == "public") {
        public.style.display = "block";
        civitas.style.display = "none";
      } else {
        civitas.style.display = "block";
        public.style.display = "none";
      }

    }
  </script>
</body>

</html>