<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>{% block title %}{% endblock %} - Flaskr</title>
</head>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Klinik Makara UI
        <img src="{{ url_for('static', filename='icon/makara.png') }}" width="30" height="30" class="d-inline-block align-top float-left mx-2" alt="">
      </a>
    {% if g.user %}
      {% if g.type == "public_patient" %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('patient.checkup') }}">Check-Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('patient.view_transaction') }}">Transaction</a>
            </li>
          </ul>
          <a href="{{ url_for('user.profile') }}" class="btn btn-default navbar-btn text-white">
            <i class="fa fa-user fa-fw mx-1"></i>{{ g.user['username'] }}
          </a>
          <form class="form-inline m-0">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
          </form>
        </div>
      {% elif g.type == "civitas_patient" %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('patient.checkup') }}">Check-Up</a>
              </li>
            </ul>
            <a href="{{ url_for('user.profile') }}" class="btn btn-default navbar-btn text-white">
              <i class="fa fa-user fa-fw mx-1"></i>{{ g.user['username'] }}
            </a>
            <form class="form-inline m-0">
              <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
            </form>
          </div>
      {% elif g.type == "doctor" %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('doctor.get_schedule') }}">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('doctor.shift') }}">Pick Shift</a>
            </li>
          </ul>
          <a href="{{ url_for('user.profile') }}" class="btn btn-default navbar-btn text-white">
            <i class="fa fa-user fa-fw mx-1"></i>{{ g.user['username'] }}</a>
          <form class="form-inline m-0">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
          </form>
        </div>
      {% elif g.type == "pharmacist" %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('pharmacist.medicine') }}">Medicine</a>
            </li>
            </ul>
          <a href="{{ url_for('user.profile') }}" class="btn btn-default navbar-btn text-white">
            <i class="fa fa-user fa-fw mx-1"></i>{{ g.user['username'] }}</a>
          <form class="form-inline m-0">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
          </form>
        </div>
      {% elif g.type == "cashier" %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('cashier.update_transaction') }}">Update Transaction</a>
            </li>
          </ul>
          <a href="{{ url_for('user.profile') }}" class="btn btn-default navbar-btn text-white">
            <i class="fa fa-user fa-fw mx-1"></i>{{ g.user['username'] }}</a>
          <form class="form-inline m-0">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
          </form>
        </div>
      {% endif %}
    {% else %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-dark"> </ul>
            <form class="form-inline m-0">
              <ul class="navbar-nav text-dark mx-2">
                <li class="nav-item dropdown-round bg-primary text-light">
                  <a class="nav-link dropdown-toggle text-light" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register&nbsp;</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('auth.register_patient') }}">As a Patient</a>
                    <a class="dropdown-item" href="{{ url_for('auth.register_doctor') }}">As a Doctor</a>
                    <a class="dropdown-item" href="{{ url_for('auth.register_pharmacist') }}">As a Pharmacist</a>
                    <a class="dropdown-item" href="{{ url_for('auth.register_cashier') }}">As a Cashier</a>
                  </div>
                </li>
              </ul>
            </form>
          <form class="form-inline m-0">
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Login</a>
          </form>
        </div>
    {% endif %}
      </div>
    </nav>
      <section class="content">
        <header>
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </section>
    <footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      {% block footer %}{% endblock %}
    </footer>
    </html>